[submodule "ansible/roles/ansible-config-interfaces"]
	path = ansible/roles/ansible-config-interfaces
	url = git@github.com:tomas321/ansible-config-interfaces.git
[submodule "ansible/roles/ansible-kvm"]
	path = ansible/roles/ansible-kvm
	url = git@github.com:tomas321/ansible-kvm.git
[submodule "ansible/roles/ansible-openvswitch"]
	path = ansible/roles/ansible-openvswitch
	url = git@github.com:tomas321/ansible-openvswitch.git
[submodule "ansible/roles/ansible-role-latex"]
	path = ansible/roles/ansible-role-latex
	url = https://github.com/Provizanta/ansible-role-latex
