[submodule "ansible/roles/ansible-kvm"]
	path = ansible/roles/ansible-kvm
	url = https://github.com/tomas321/ansible-kvm.git
[submodule "ansible/roles/ansible-config-interfaces"]
	path = ansible/roles/ansible-config-interfaces
	url = https://github.com/tomas321/ansible-config-interfaces.git
[submodule "ansible/roles/ansible-openvswitch"]
	path = ansible/roles/ansible-openvswitch
	url = https://github.com/tomas321/ansible-openvswitch.git
