[Unit]
Description="execsnoop container %I"
#PartOf=execsnoops.target

[Service]
Restart=always
ExecStart={{ execsnoop_caller_script_abspath }} {{ execsnoop_bpfmap_basepath | regex_replace('\\/$', '') }}/%i
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=execsnoop_%i
